{% set active_class = "bg-indigo-100 text-indigo-900" %}
{% set inactive_class = "text-gray-600 hover:bg-gray-50 hover:text-gray-900" %}

<!-- Dashboard -->
<a href="{{ url_for('admin') }}" class="{{ active_class if request.endpoint == 'admin' else inactive_class }} group flex items-center px-2 py-2 text-sm font-medium rounded-md">
    <svg class="mr-3 h-6 w-6 {{ 'text-indigo-500' if request.endpoint == 'admin' else 'text-gray-400 group-hover:text-gray-500' }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
    </svg>
    Dashboard
</a>

<!-- Users -->
<a href="{{ url_for('users') }}" class="{{ active_class if request.endpoint in ['users', 'edit_user'] else inactive_class }} group flex items-center px-2 py-2 text-sm font-medium rounded-md">
    <svg class="mr-3 h-6 w-6 {{ 'text-indigo-500' if request.endpoint in ['users', 'edit_user'] else 'text-gray-400 group-hover:text-gray-500' }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M15 21a6 6 0 00-9-5.197M15 21a6 6 0 00-9-5.197"/>
    </svg>
    Users
</a>

<!-- Facilities -->
<a href="{{ url_for('facilities') }}" class="{{ active_class if request.endpoint in ['facilities', 'edit_facilities'] else inactive_class }} group flex items-center px-2 py-2 text-sm font-medium rounded-md">
    <svg class="mr-3 h-6 w-6 {{ 'text-indigo-500' if request.endpoint in ['facilities', 'edit_facilities'] else 'text-gray-400 group-hover:text-gray-500' }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4"/>
    </svg>
    Facilities
</a>

<!-- Diseases -->
<a href="{{ url_for('diseases') }}" class="{{ active_class if request.endpoint in ['diseases', 'add_category', 'add_disease', 'edit_disease'] else inactive_class }} group flex items-center px-2 py-2 text-sm font-medium rounded-md">
    <svg class="mr-3 h-6 w-6 {{ 'text-indigo-500' if request.endpoint in ['diseases', 'add_category', 'add_disease', 'edit_disease'] else 'text-gray-400 group-hover:text-gray-500' }}" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11.5V14m0-2.5v-6a1.5 1.5 0 113 0m-3 6a1.5 1.5 0 00-3 0v2a7.5 7.5 0 0015 0v-5a1.5 1.5 0 00-3 0m-6-3V11m0-5.5v-1a1.5 1.5 0 013 0v1m0 0V11m0-5.5a1.5 1.5 0 013 0v3.5m0 0a1.5 1.5 0 01-3 0V11"/>
    </svg>
    Diseases
</a>

<!-- Public-facing Encounter Form -->
<a href="{{ url_for('add_encounter') }}" class="{{ active_class if request.endpoint == 'add_encounter' else inactive_class }} group flex items-center px-2 py-2 text-sm font-medium rounded-md">
    <svg class="mr-3 h-6 w-6 {{ 'text-indigo-500' if request.endpoint == 'add_encounter' else 'text-gray-400 group-hover:text-gray-500' }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
    </svg>
    Encounter Form
</a>


<!-- Public-facing Encounter Form -->
<a href="{{ url_for('encounters') }}" class="{{ active_class if request.endpoint in ['encounters', 'view_encounter'] else inactive_class }} group flex items-center px-2 py-2 text-sm font-medium rounded-md">
    <svg class="mr-3 h-6 w-6 {{ 'text-indigo-500' if request.endpoint == 'add_encounter' else 'text-gray-400 group-hover:text-gray-500' }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
    </svg>
    View Encounters 
</a>

<a href="{{ url_for('reports') }}" class="{{ active_class if request.endpoint in ['reports', 'view_report'] else inactive_class }} group flex items-center px-2 py-2 text-sm font-medium rounded-md">
    <svg class="mr-3 h-6 w-6 {{ 'text-indigo-500' if request.endpoint in ['reports', 'view_report'] else 'text-gray-400 group-hover:text-gray-500' }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
    </svg>
    Reports
</a>

<a href="{{ url_for('upload_excel') }}" class="{{ active_class if request.endpoint in ['upload_reports'] else inactive_class }} group flex items-center px-2 py-2 text-sm font-medium rounded-md">
    <svg class="mr-3 h-6 w-6 {{ 'text-indigo-500' if request.endpoint in ['reports', 'view_report'] else 'text-gray-400 group-hover:text-gray-500' }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
    </svg>
    Upload Sheet
</a>



